@model IEnumerable<SlackOverload.Models.Question>

@{
    ViewData["Title"] = "MainPage";
}

<h1>Admin Page</h1>

<h2>All Questions</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <a asp-action="QuestionDetails" asp-route-id="@item.Id">Details</a>

            </td>
            <td>
                <a asp-action=DeleteQuestion asp-route-id="@item.Id">Delete</a>
           </td>
        </tr>
}
    </tbody>
</table>

